@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Supermercado+One&display=swap");

$color-bg-dark: #073b4c;
$color-bg-light: #118ab2;
$color-light: #ffd166;
$color-dark: #5f0f40;

body {
  font-family: "Cairo", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container {
  height: 75vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 100px;
}

.body-dark {
  background-color: $color-bg-dark;
}

.body-light {
  background-color: $color-bg-light;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.button-dark {
  background-color: $color-bg-light;
  color: white;
}

.button-light {
  background-color: $color-bg-dark;
  color: $color-light;
}

.footer {
  flex-shrink: 0;
  background-color: $color-light;
  color: $color-dark;
  margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: $color-light;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

ul a {
  display: block;
  color: $color-dark;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}

ul a:hover {
  background-color: $color-dark;
  color: white;
}

.navbar-right{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
}

.navbar-left{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  align-items: center;
}

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  text-align: center;
  border: solid white;
  margin: 10px;
  padding: 5px;
}

.card-dark{
background-color: white;
color: white;
}

.card-light{
background-color: white;
color: white;
}

.project-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// .project-img {
//   opacity: 0.5;
//   position: relative;
// }

// .center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   font-size: 18px;
// }
